extends includes/layout.pug
block content
    title Herencia
    h1 Herencia
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit temporibus nihil magnam in cumque eaque aut architecto expedita aliquid maiores laboriosam recusandae eos vel cum impedit, cupiditate pariatur provident placeat.
block content
    h1 herencia
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sequi dolores tempora veniam obcaecati optio id omnis autem iste magni hic error sed neque aliquam porro quae, possimus labore minus.
            