body {
	background-color: #158ec6;
	color: #1d4e6f;
	font: 16px Arial;
}

main{
	background-color: #fff;
	margin: 20px auto;
	padding: 10px;
	width: 800px;
}
main header{
	background-color: #133348;
	border-bottom: 4px solid #158ec6;
	color: #FFF;
	padding: 10px;
	margin-bottom: 40px;
}
main header h1{
	text-align: center;
	margin: 0px;
}

main header h1,
main section h2,
main section h3{
	text-align: center;
}