h1 {
    background-color: peru;
    font-family: arial;
    color: rebeccapurple;
    text-align: center;
    border-bottom: 10px solid teal;
    margin: 0px auto;
    padding: 20px;
    transition: all 0.5s ease-in;
    width: 640px;
}
h1 :hover{
    border-bottom: 1px solid crimson;
    cursor: pointer;
    transform: scale(1.1);
}